*{

    padding: 0;
    margin: 0;
    box-sizing: border-box;

}

/* encabezado */

header {

    width: 100%;
    padding: 40px;
    background-color: white;
    text-align: center;
}

#home {

    display: flex;
    background-color: whitesmoke;
    flex-direction: column;  
    align-items: center;
   
    
}

 .cuadro1 .img {

    display: flex;
    width: 100%;
    justify-content: center;
    
}

.cuadro1 {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    width: 600px;
    min-height: 450px;
    margin: 50px 0px 50px 0px;
    background: white;

    
    
}

.cuadro1 .img img {

    max-width: 100%;


}


.cuadro1 .C {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
    background: blue;

}


.c1{
    
    width:50%;
    background: white;
    padding: 10px;
  
}


.c2 {

    width:50%;
    background: white;
    padding: 10px;
    text-align: end;   

}

.c1 p {
  
    font-weight: bold;

}

.c2 p {

    opacity: 60%;

}


.Cpie {

    width: 100%;
    background: white;
    padding: 10px 10px 10px 20px;


}

